{% if port == 1 %}
| Row | Network | Gateway | Start IP | End IP | Netmask |
------------------------------------------------------------
{% endif %}
| {{ name }} | {{ network }} | {{ gateway }} | {{ start }} | {{ end }} | {{ netmask }} |
