{% if row == 'row-1-1' %}
| Row \t | Network | Gateway | Start IP | End IP | Netmask |
---------------------------------------------------------
{% endif %}
| {{ row }} | {{ network }} | {{ gateway }} | {{ start }} | {{ end }} | {{ netmask }}
